Importing the Dependencies

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

importing the Models

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

loading Dataset

In [3]:
df=pd.read_csv('/content/drive/MyDrive/heart.csv')

In [4]:
#printing first 5 rows
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
#checking null values
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [6]:
#checking number of columns and rows
df.shape

(303, 14)

In [7]:
#stastistical distribution of the datasets
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
#checking datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [9]:
#checking distribution of target variable
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1-> Defective Heart\

0-> Healthy Heart

Normalization the Datasets

In [10]:
from sklearn.preprocessing import MinMaxScaler
scale=MinMaxScaler()
Norm_df=pd.DataFrame(scale.fit_transform(df),columns=df.columns)

Spliting the features and columns

In [11]:
X=Norm_df.iloc[:,0:13]
Y=df['target']

In [12]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.00,0.333333
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.00,0.666667
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.00,0.666667
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.00,0.666667
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.00,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.583333,0.0,0.000000,0.433962,0.262557,0.0,0.5,0.396947,1.0,0.032258,0.5,0.00,1.000000
299,0.333333,1.0,1.000000,0.150943,0.315068,0.0,0.5,0.465649,0.0,0.193548,0.5,0.00,1.000000
300,0.812500,1.0,0.000000,0.471698,0.152968,1.0,0.5,0.534351,0.0,0.548387,0.5,0.50,1.000000
301,0.583333,1.0,0.000000,0.339623,0.011416,0.0,0.5,0.335878,1.0,0.193548,0.5,0.25,1.000000
302,0.583333,0.0,0.333333,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.5,0.25,0.666667

In [13]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

**Model** **Selection**

1. Comparing the Mode with default parameter values using Cross Validation

In [14]:
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier(random_state=0)]

In [15]:
def comapare_model_cross_validation():
  for model in models:
    cv_score=cross_val_score(model,X,Y,cv=5)
    mean_acc=sum(cv_score)/len(cv_score)
    mean_acc=mean_acc*100
    mean_acc=round(mean_acc,2)

    print("cross valiadtion accuracy of the",model,'=',cv_score)  
    print("accuracy score of the model",model,'=',mean_acc,'%')
    print("-----------------------")

In [16]:
comapare_model_cross_validation()

cross valiadtion accuracy of the LogisticRegression(max_iter=1000) = [0.83606557 0.86885246 0.81967213 0.86666667 0.76666667]
accuracy score of the model LogisticRegression(max_iter=1000) = 83.16 %
-----------------------
cross valiadtion accuracy of the SVC(kernel='linear') = [0.78688525 0.86885246 0.83606557 0.86666667 0.78333333]
accuracy score of the model SVC(kernel='linear') = 82.84 %
-----------------------
cross valiadtion accuracy of the KNeighborsClassifier() = [0.81967213 0.80327869 0.81967213 0.76666667 0.8       ]
accuracy score of the model KNeighborsClassifier() = 80.19 %
-----------------------
cross valiadtion accuracy of the RandomForestClassifier(random_state=0) = [0.85245902 0.90163934 0.81967213 0.81666667 0.8       ]
accuracy score of the model RandomForestClassifier(random_state=0) = 83.81 %
-----------------------

*Random Forest classifier has high accuracy value with default parameter.

2. Comparing the model with different Hyperparameter value using GridSearchCV

In [17]:
#list of models
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier(random_state=0)]

In [18]:
#creating the dictionary that contain hyperparameter value the above models

model_hyperparameter={
    
       'log_reg_hyperparameter':{
           'C':[1,5,10,15]
       },

      'svc_hyperparameter':{
          'kernel':['linear','poly','rbf','sigmoid'],
          'C':[1,5,10,15]
      },

      'KNN_hyperparameter':{
          'n_neighbors':[3,5,10]
      } ,
      'random_forest_hyperparameter':{
          'n_estimators':[10,20,50,100]
      }

}

In [19]:
model_keys = list(model_hyperparameter.keys())
print(model_keys)

['log_reg_hyperparameter', 'svc_hyperparameter', 'KNN_hyperparameter', 'random_forest_hyperparameter']

Applying Grid Search Cv

In [20]:
def ModelSelection(list_of_models, hyperparameters_dictionary):

  result = []

  i = 0

  for model in list_of_models:

    key = model_keys[i]

    params = hyperparameters_dictionary[key]

    i += 1

    print(model)
    print(params)
    print('---------------------------------')


    classifier = GridSearchCV(model, params, cv=5)

    # fitting the data to classifier
    classifier.fit(X,Y)

    result.append({
        'model used' : model,
        'highest score' : classifier.best_score_,
        'best hyperparameters' : classifier.best_params_
    })

  result_df = pd.DataFrame(result, columns = ['model used','highest score','best hyperparameters'])

  return result_df

In [21]:
ModelSelection(models, model_hyperparameter)

LogisticRegression(max_iter=1000)
{'C': [1, 5, 10, 15]}
---------------------------------
SVC(kernel='linear')
{'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], 'C': [1, 5, 10, 15]}
---------------------------------
KNeighborsClassifier()
{'n_neighbors': [3, 5, 10]}
---------------------------------
RandomForestClassifier(random_state=0)
{'n_estimators': [10, 20, 50, 100]}
---------------------------------

,model used,highest score,best hyperparameters
0,LogisticRegression(max_iter=1000),0.831585,{'C': 1}
1,SVC(kernel='linear'),0.854590,"{'C': 1, 'kernel': 'poly'}"
2,KNeighborsClassifier(),0.818415,{'n_neighbors': 3}
3,RandomForestClassifier(random_state=0),0.838087,{'n_estimators': 100}